@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-raleway), sans-serif;
  scroll-padding-top: 5rem;
}

.navbar {
  z-index: 1000;
}
.ol-viewport {
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 3px solid rgba(255, 0, 0, 0.329);
}
